@page
@model PhanTichChungKhoan.WebApp.Pages.PortfolioModel
@{
    ViewData["Title"] = "My Portfolio";
}

<h1>Portfolios</h1>

<p>
    <a asp-page="CreateBuyingRange">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="align-text-top">
                @if (Model.ListBuyingRange.Count > 0)
                {
                    <span class="text-danger font-weight-bold">@Model.ListBuyingRange.Count</span>
                }
            </th>
            <th class="align-text-top">
                @Html.DisplayNameFor(model => model.ListBuyingRange[0].Symbol)
            </th>
            <th class="align-text-top">
                @Html.DisplayNameFor(model => model.ListBuyingRange[0].Price)
            </th>
            <th class="align-text-top">
                @Html.DisplayNameFor(model => model.ListBuyingRange[0].BuyPriceFrom)
            </th>
            <th class="align-text-top">
                @Html.DisplayNameFor(model => model.ListBuyingRange[0].BuyPriceTo)
            </th>
            <th class="align-text-top">
                @Html.DisplayNameFor(model => model.ListBuyingRange[0].BuyingStatus)
            </th>
            <th class="align-text-top"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListBuyingRange)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Exchange)
                </td>
                <td title="@item.CompanyName" data-toggle="tooltip" data-placement="right">
                    @Html.DisplayFor(modelItem => item.Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyPriceFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyPriceTo)
                </td>
                <td>
                    @if (item.BuyPriceFrom <= item.Price && item.Price <= item.BuyPriceTo)
                    {
                        <span class="text-danger font-weight-bold">BUY</span>
                    }
                    @if (item.Price < item.BuyPriceFrom)
                    {
                        <span class="text-danger font-weight-bold">UNDER BUY</span>
                    }
                </td>
                <td>
                    <a asp-page="EditBuyingRange" asp-route-exchange="@item.Exchange" asp-route-symbol="@item.Symbol">Edit</a>
                    @*<a asp-route-exchange="@item.Exchange" asp-route-symbol="@item.Symbol" asp-page-handler="Delete">Delete</a>*@
                    <form method="post" asp-page-handler="Delete" onclick="return confirm('Are you sure you want to delete this?')">
                        <input type="hidden" name="exchange" value="@item.Exchange" />
                        <input type="hidden" name="symbol" value="@item.Symbol" />
                        <button type="submit" class="btn btn-link" style="padding: unset !important">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
    
}