@page
@model WebApplication1.Pages.TestListModel

@{
    ViewData["Title"] = "TestList";
}

<h1>TestList</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyPriceBoard[0].Exchange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyPriceBoard[0].Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyPriceBoard[0].BuyPriceFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyPriceBoard[0].BuyPriceTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MyPriceBoard) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exchange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyPriceFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyPriceTo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
